* {
	padding: 0px;
	margin: 0px;
	font-family: Courier New;
}

body {
	background-repeat: no-repeat;
	background-color: black;
	background-attachment: fixed;
	background-size: cover;
}

.home {
	display:flex;
	flex-wrap: wrap;
}

.in-flex {
	flex: 1;
	min-width: 225px;
}
.in-flex:first-child {
	flex: 2;
	padding: 25px;
	background-color: rgba(119, 212, 196, 0.5);
	margin: 20px;
	margin-bottom: 0px;
	border-style: inset;
	border-width: 2.5px;
	border-color: rgba(0, 0, 0, 0.7);
}

.Perfil {
	width: 80%;
	height: auto;
	border-style: inset;
	border-width: 2.5px;
	border-color: rgba(0, 0, 0, 0.7);

}

.in-flex div {
	padding: 20px;
	background-color: rgba(119, 212, 196, 0.5);
	margin: 20px;

}

.CartaPresentacion,
.RetornoCurriculum {
	text-align: center;
}